<!DOCTYPE html>
 <html lang="en">  
 <head>  
      <meta charset="utf-8">
     <title>OTP Verification</title>  
 </head>  
  <body>  
    <form action="/validate" method="post">   
       <h4> OTP has been sent to the email id. Please check the email for the confirmation.</h4>
       <h3> For course {{department}} {{course_num}} </h3>
       <br>
       Please enter your gmu email: <input type="text" name="email">      
       Enter OTP(One-time password): <input type="text" name="otp">  
        <input type="submit" value="Submit">  
    </form>  
  </body>  
 </html>  